.main {
  padding: 4rem;
}

.upperDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.upperDiv h1 {
  font-family: var(--font-heading);
  font-size: 3rem;
  letter-spacing: 0.15rem;
}
