.wrapper {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 45px;
  height: 45px;
  border: 3px solid rgba(255, 192, 56, 0.25);
  border-top-color: #ffc038;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
